<!doctype html>
<html>
    <head>
        <title>Angular JS</title>
        <link rel="stylesheet" href="{{asset("bower_components/angular-material/angular-material.css")}}">
        <link rel="stylesheet" href="{{asset("bower_components/angular-growl-v2/build/angular-growl.min.css")}}">
        <link rel="stylesheet" href="{{asset("bower_components/bootstrap/dist/css/bootstrap.min.css")}}">
        <link rel="stylesheet" href="{{asset("bundles/angular/css/style.css")}}">
        <link rel="stylesheet" href="{{asset("bower_components/angular-datepicker/dist/angular-datepicker.min.css")}}">

        <!-- AngularJS File -->
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{asset("bower_components/angular/angular.js")}}"></script>
        <script src="{{asset("bower_components/angular-route/angular-route.min.js")}}"></script>
        <script src="{{asset("bower_components/angular-aria/angular-aria.js")}}"></script>
        <script src="{{asset("bower_components/angular-messages/angular-messages.js")}}"></script>
        <script src="{{asset("bower_components/angular-animate/angular-animate.js")}}"></script>
        <script src="{{asset("bower_components/angular-growl-v2/build/angular-growl.min.js")}}"></script>
        <script src="{{asset("bower_components/angular-paging/dist/paging.js")}}"></script>
        <script src="{{asset("bower_components/moment/min/moment.min.js")}}"></script>
        <script src="{{asset("bower_components/angular-datepicker/dist/angular-datepicker.min.js")}}"></script>

        <!-- Angular Material Library -->
        <script src="{{asset("bower_components/angular-material/angular-material.min.js")}}"></script>

        <script src="{{asset("bundles/angular/js/module.js")}}"></script>
        <script src="{{asset("bundles/angular/js/newCon.js")}}"></script>
    </head>
    <body ng-app='mainApp'>
        <login-status status={{loggedIn}}></login-status>
        <div>
            <ng-view></ng-view>
        </div>
    </body>
</html>
