<form enctype="multipart/form-data" action="{{ path('data_locationcrud_edit', {'id' : name})}}" class="" method="POST">
    <div class="form-group">
        {{ form_widget(form)}}
    </div>
    
    {#<div class="form-group">
        <label for="name">Band Name</label>
        {{ form_widget(form.name)}}
    </div>
    <div class="form-group">
        <label for="genre">Genre</label>
        {{ form_widget(form.genre)}}
    </div>#}
{#    <div class="form-group">
        <label for="genre">Image</label>
        {{ form_widget(form.image)}}
    </div>#}
    {{ form_errors(form) }}
    {{ form_row(form._token) }}
    <input type="submit" class="btn btn-default" value="Save"/>

</form>