{% extends 'DataBundle::base.html.twig' %}
{% block title %}- {{action}} Concert{% endblock %}
{% block body %}
    <h1>API: {{action}} Concert</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

