{% extends 'DataBundle::base.html.twig' %}
{% block title %} - List Concerts{% endblock %}
{% block body %}
    <h1>API: List Concerts</h1>

    <ul id="concerts-list">
        {% for concert in data %}
            <li>
                <a href="{{ path('api_concert_show', {'id': concert.id}) }}">{{ concert.date | date }}</a>
                [<a href="{{ path('api_concert_form_edit', {'id': concert.id}) }}">Edit</a>]
                {#[<a href="{{ path('api_concert_delete', {'id': concert.id}) }}">Delete</a>]#}
            </li>
        {% else %}
            <li>No Concerts</li>
            {% endfor %}
    </ul>
    <p>
        <a href="{{ path('api_concert_form_new') }}">New Concert</a>
    </p>

    {% include '@DataBundle/views/Template/paginator.html.twig' %}
{% endblock %}